/laboratorio1/nbproject/private/
/laboratorio1/build/
/SegundoEjercicio/nbproject/private/
/SegundoEjercicio/build/
/TecerEjercicio/nbproject/private/
/TecerEjercicio/build/
/CuartoEjercicio/nbproject/private/
/CuartoEjercicio/build/